.cube-wrapper {
  transform-style: preserve-3d;
}

.cube-wrapper.rotated {
  transform: rotateX(30deg) rotateY(45deg) scale3d(0.55, 0.55, 0.55);
}

.cube-top {
  transform: rotateX(90deg) translateZ(calc(10rem - 2px));
}

.cube-front {
  transform: translateZ(-10rem);
}

.cube-side {
  transform: rotateY(90deg) translateZ(10rem);
}

.rotated .cube-top {
  border-radius: 2px 0px 2px 0px;
  overflow: hidden;
}

.rotated .cube-front {
  border-top-left-radius: 4px;
  overflow: hidden;
}

.rotated .cube-side {
  border-radius: 4px 0 0 0;
  overflow: hidden;
}
